{% block sw_myparcel_orders %}
    <sw-page class="sw-myparcel">
        {% block sw_myparcel_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_myparcel_smart_bar_header_title %}
                <h2>
                    {% block sw_myparcel_smart_bar_header_title_text %}
                        {{ $tc('sw-myparcel.general.mainMenuItemGeneral') }}: {{ $tc('sw-myparcel.orders.title') }}
                    {% endblock %}
                </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_myparcel_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button :disabled="!createMultipleConsignmentsAvailable" variant="primary" :square="false" :block="false" :isLoading="false" @click="onOpenCreateMultipleConsignmentsModal">
                    {{ $tc('sw-myparcel.orders.buttons.createConsignmentsButton') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block sw_myparcel_content %}
            <template #content>
                <sw-data-grid
                        :dataSource="shippingOptions"
                        :columns="orderColumns"
                        :fullPage="true"
                        :showSettings="true"
                        :showSelection="true"
                        :sortBy="sortBy"
                        :sortDirection="sortDirection"
                        :isLoading="isLoading"
                        :allowColumnEdit="false"
                        identifier="sw-myparcel-orders-list">

                    <template #column-order.orderNumber="{ item }">
                        <router-link :to="{ name: 'sw.order.detail', params: { id: item.order.id } }">{{ item.order.orderNumber }}</router-link>
                    </template>

                    <template #column-order.orderCustomer.firstName="{ item }">
                        {{ item.order.orderCustomer.firstName }} {{ item.order.orderCustomer.lastName }}
                    </template>

                    <template #column-order.billingAddressId="{ item }">
                        {{ getBillingAddress(item.order).street }},
                        {{ getBillingAddress(item.order).zipcode }}
                        {{ getBillingAddress(item.order).city }}
                    </template>

                    <template #column-order.amountTotal="{ item }">
                        {{ item.order.amountTotal | currency(item.order.currency.translated.shortName) }}
                    </template>

                    <template #column-order.stateMachineState.name="{ item }">
                        <sw-label :variant="getVariantFromOrderState(item.order)" appearance="pill">
                            {{ item.order.stateMachineState.translated.name }}
                        </sw-label>
                    </template>

                    <template #column-order.transactions[0].stateMachineState.name="{ item }">
                        <sw-label v-if="item.order.transactions && item.order.transactions[0]"
                                  :variant="getVariantFromPaymentState(item.order)"
                                  appearance="pill">
                            {{ item.order.transactions[0].stateMachineState.translated.name }}
                        </sw-label>
                    </template>

                    <template #column-order.deliveries[0].stateMachineState.name="{ item }">
                        <sw-label v-if="item.order.deliveries && item.order.deliveries[0]"
                                  :variant="getVariantFromDeliveryState(item.order)"
                                  appearance="pill">
                            {{ item.order.deliveries[0].stateMachineState.translated.name }}
                        </sw-label>
                    </template>

                    <template #column-deliveryDate="{ item }">
                        {{ item.deliveryDate | date() }}
                    </template>

                    <template #column-carrierId="{ item }">
                        {{ carriers[item.carrierId] }}
                    </template>

                    <template #column-deliveryType="{ item }">
                        {{ deliveryTypes[item.deliveryType] }}
                    </template>

                    <template #column-numberOfConsignments="{ item }">
                        {{ getNumberOfConsignments(item.id) }}
                        <router-link :to="{ name: 'sw.myparcel.consignments', params: { orderId: item.orderId }}"><span :ref="item.id" /></router-link>
                    </template>

                    <template #column-order.orderDateTime="{ item }">
                        {{ item.order.orderDateTime | date({hour: '2-digit', minute: '2-digit', second: '2-digit'}) }}
                    </template>

                    <template #actions="{ item }">
                        <sw-context-menu-item class="sw-myparcel-orders-list__order-view-action" :routerLink="{ name: 'sw.order.detail', params: { id: item.orderId } }">
                            {{ $tc('sw-myparcel.orders.buttons.viewOrderButton') }}
                        </sw-context-menu-item>
                        <sw-context-menu-item class="sw-myparcel-orders-list__create-consignment-action" @click="onOpenCreateSingleConsignmentModal(item)">
                            {{ $tc('sw-myparcel.orders.buttons.createConsignmentButton') }}
                        </sw-context-menu-item>
                    </template>

                    <template #pagination>
                        {% block sw_order_list_grid_pagination %}
                            <sw-pagination :page="page"
                                           :limit="limit"
                                           :total="total"
                                           :total-visible="7"
                                           @page-change="onPageChange">
                            </sw-pagination>
                        {% endblock %}
                    </template>

                </sw-data-grid>

                <sw-modal v-if="createSingleConsignment.showModal === true"
                          :title="$tc('sw-myparcel.orders.modals.createConsignment.titleSingle')"
                          @modal-close="onCloseCreateSingleConsignmentModal"
                          variant="small">

                    <form>

                        <sw-select-field
                                :label="$tc('sw-myparcel.orders.modals.createConsignment.actionTypeHeading')"
                                name="myparcel[action_type]"
                                v-model="createSingleConsignment.actionType">

                            <option value="download">{{ $tc('sw-myparcel.orders.modals.createConsignment.actionTypeDownloadLabel') }}</option>
                            <option value="create">{{ $tc('sw-myparcel.orders.modals.createConsignment.actionTypeCreateLabel') }}</option>
                        </sw-select-field>

                        <sw-select-number-field
                                :disabled="true"
                                :label="$tc('sw-myparcel.orders.modals.createConsignment.deliveryTypeHeading')"
                                name="myparcel[delivery_type]"
                                v-model="createSingleConsignment.item.deliveryType">

                            <option value="1">{{ $tc('sw-myparcel.general.deliveryTypes.morning') }}</option>
                            <option value="2">{{ $tc('sw-myparcel.general.deliveryTypes.standard') }}</option>
                            <option value="3">{{ $tc('sw-myparcel.general.deliveryTypes.evening') }}</option>
                            <option value="4">{{ $tc('sw-myparcel.general.deliveryTypes.pickup') }}</option>
                        </sw-select-number-field>

                        <sw-select-number-field
                                :label="$tc('sw-myparcel.orders.modals.createConsignment.packageTypeHeading')"
                                name="myparcel[package_type]"
                                v-model="createSingleConsignment.item.packageType">

                            <option value="1">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypePackageLabel') }}</option>
                            <option value="2">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypeMailboxLabel') }}</option>
                            <option value="3">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypeLetterLabel') }}</option>
                            <option value="4">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypeDigitalStampLabel') }}</option>
                        </sw-select-number-field>

                        <sw-base-field :label="$tc('sw-myparcel.orders.modals.createConsignment.printOptionsHeading')" />
                        <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createConsignment.printSmallLabelLabel')" name="myparcel[print_small_label]" value="1" v-model="createSingleConsignment.printSmallLabel" />

                        <sw-multi-select
                                :disabled="createSingleConsignment.printSmallLabel === true"
                                :label="$tc('sw-myparcel.orders.modals.createConsignment.printPositionHeading')"
                                name="myparcel[print_position]"
                                v-model="createSingleConsignment.printPosition"
                                :options="[
                                { value: 1, label: $tc('sw-myparcel.orders.modals.createConsignment.positionTopLeftLabel') },
                                { value: 2, label: $tc('sw-myparcel.orders.modals.createConsignment.positionTopRightLabel') },
                                { value: 3, label: $tc('sw-myparcel.orders.modals.createConsignment.positionBottomLeftLabel') },
                                { value: 4, label: $tc('sw-myparcel.orders.modals.createConsignment.positionBottomRightLabel') },
                            ]">
                        </sw-multi-select>

                        <sw-number-field
                            :label="$tc('sw-myparcel.orders.modals.createConsignment.numberOfLabelsHeading')"
                            name="myparcel[number_of_labels]"
                            numberType="int"
                            :min="1"
                            :step="1"
                            v-model="createSingleConsignment.numberOfLabels" />

                        <template v-if="createSingleConsignment.item.packageType === 1">
                            <sw-base-field :label="$tc('sw-myparcel.orders.modals.createConsignment.shippingOptionsHeading')" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createConsignment.optionOnlyRecipientLabel')" name="myparcel[only_recipient]" value="1" v-model="createSingleConsignment.item.onlyRecipient" :checked="onlyRecipientChecked(createSingleConsignment.item)" :disabled="onlyRecipientDisabled(createSingleConsignment.item)" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createConsignment.optionRequiresAgeCheckLabel')" name="myparcel[requires_age_check]" value="1" v-model="createSingleConsignment.item.requiresAgeCheck" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createConsignment.optionRequiresSignatureLabel')" name="myparcel[requires_signature]" value="1" v-model="createSingleConsignment.item.requiresSignature" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createConsignment.optionReturnIfNotHomeLabel')" name="myparcel[return_if_not_home]" value="1" v-model="createSingleConsignment.item.returnIfNotHome" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createConsignment.optionLargeFormatLabel')" name="myparcel[large_format]" value="1" v-model="createSingleConsignment.item.largeFormat" /><br />
                        </template>

                        <template v-else>
                            <input type="hidden" name="myparcel[requires_age_check]" value="0" />
                            <input type="hidden" name="myparcel[requires_signature]" value="0" />
                            <input type="hidden" name="myparcel[return_if_not_home]" value="0" />
                            <input type="hidden" name="myparcel[large_format]" value="0" />
                        </template>

                    </form>

                    <template slot="modal-footer">
                        <sw-button @click="onCloseCreateSingleConsignmentModal" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.cancelButton') }}
                        </sw-button>
                        <sw-button @click.prevent="onCreateSingleConsignment" :isLoading="createSingleConsignmentLoading" variant="primary" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.createConsignmentButton') }}
                        </sw-button>
                    </template>
                </sw-modal>

                <sw-modal v-if="createMultipleConsignments.showModal === true"
                          :title="$tc('sw-myparcel.orders.modals.createConsignment.titleMultiple', 0, { numberOfItems: selectedShippingOptionIds.length })"
                          @modal-close="onCloseCreateMultipleConsignmentsModal"
                          variant="small">

                    <form>

                        <sw-select-field
                                :label="$tc('sw-myparcel.orders.modals.createConsignment.actionTypeHeading')"
                                name="myparcel[action_type]"
                                v-model="createMultipleConsignments.actionType">

                            <option value="download">{{ $tc('sw-myparcel.orders.modals.createConsignment.actionTypeDownloadLabel') }}</option>
                            <option value="create">{{ $tc('sw-myparcel.orders.modals.createConsignment.actionTypeCreateLabel') }}</option>
                        </sw-select-field>

                        <sw-select-number-field
                                :label="$tc('sw-myparcel.orders.modals.createConsignment.packageTypeHeading')"
                                name="myparcel[package_type]"
                                v-model="createMultipleConsignments.packageType">

                            <option value="1">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypePackageLabel') }}</option>
                            <option value="2">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypeMailboxLabel') }}</option>
                            <option value="3">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypeLetterLabel') }}</option>
                            <option value="4">{{ $tc('sw-myparcel.orders.modals.createConsignment.packageTypeDigitalStampLabel') }}</option>
                        </sw-select-number-field>

                        <sw-base-field :label="$tc('sw-myparcel.orders.modals.createConsignment.printOptionsHeading')" />
                        <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createConsignment.printSmallLabelLabel')" name="myparcel[print_small_label]" value="1" v-model="createMultipleConsignments.printSmallLabel" />

                        <sw-multi-select
                                :disabled="createMultipleConsignments.printSmallLabel === true"
                                :label="$tc('sw-myparcel.orders.modals.createConsignment.printPositionHeading')"
                                name="myparcel[print_position]"
                                v-model="createMultipleConsignments.printPosition"
                                :options="[
                                { value: 1, label: $tc('sw-myparcel.orders.modals.createConsignment.positionTopLeftLabel') },
                                { value: 2, label: $tc('sw-myparcel.orders.modals.createConsignment.positionTopRightLabel') },
                                { value: 3, label: $tc('sw-myparcel.orders.modals.createConsignment.positionBottomLeftLabel') },
                                { value: 4, label: $tc('sw-myparcel.orders.modals.createConsignment.positionBottomRightLabel') },
                            ]">
                        </sw-multi-select>

                    </form>

                    <template slot="modal-footer">
                        <sw-button @click="onCloseCreateMultipleConsignmentsModal" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.cancelButton') }}
                        </sw-button>
                        <sw-button @click.prevent="onCreateMultipleConsignments" :isLoading="createMultipleConsignmentsLoading" variant="primary" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.createConsignmentsButton') }}
                        </sw-button>
                    </template>
                </sw-modal>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
