
<div class="mb-0 date_select">
    <select name="myparcel_delivery_date">
        {% for option in options %}
            <option value="{{ option['date'] }}">{{ option['date'] }}</option>
        {% endfor %}
    </select>
</div>

{% for option in options %}
    <div class="mb-0 delivery_options {% if loop.first == false %}d-none {% endif %}" data-date="{{ option['date'] }}">
        {% for time in option['time'] %}

            {% if (time['type'] == 2)
                or (time['type'] == 1 and config.myParcelShowWindowType1 == '1')
                or (time['type'] == 3 and config.myParcelShowWindowType3 == '1')
            %}

                <label class="d-block mb-0">
                    <input type="radio" name="myparcel_delivery_type_{{ option['date'] }}" data-target="myparcel[delivery_type]" value="{{ time['type'] }}" id="myparcel_delivery_type_{{ time['type'] }}_{{ carrier_id }}" {% if config.myParcelDefaultDeliveryWindow == time['type'] %}checked="checked"{% endif %} />
                    <label for="myparcel_delivery_type_{{ time['type'] }}_{{ carrier_id }}">
                        {{ ("myparcel.delivery_type_" ~ time['type']) |trans|sw_sanitize }}
                        <span class="cost">
                            {% if attribute(config, "costsDelivery#{time['type']}") > 0 %}
                                + {{ attribute(config, "costsDelivery#{time['type']}")|format_currency('EUR') }}
                            {% endif %}
                        </span> {#costsDelivery1#}
                    </label>
                </label>
            {% endif %}

        {% endfor %}
    </div>
{% endfor %}

<label class="d-block mb-0">
    <input type="checkbox" name="myparcel_requires_signature" data-target="myparcel[requires_signature]" value="1" id="myparcel_requires_signature_{{ carrier_id }}" {% if config.myParcelDefaultSignature %}checked{% endif %}>
    <label for="myparcel_requires_signature_{{ carrier_id }}">{{ "myparcel.delivery_signature"|trans|sw_sanitize }} <span class="cost"></span></label>
</label>
<label class="d-block mb-0">
    <input type="checkbox" name="myparcel_only_recipient" data-target="myparcel[only_recipient]" value="1" id="myparcel_only_recipient_{{ carrier_id }}" {% if config.myParcelDefaultOnlyRecipient%}checked{% endif %}>
    <label for="myparcel_only_recipient_{{ carrier_id }}">{{ "myparcel.delivery_recipient"|trans|sw_sanitize }} <span class="cost"></span></label>
</label>

